<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*@thymesVar id="title" type="com.rhontprogect.blog.Controllers.basicController"*/-->
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body>
<!--/*@thymesVar id="title" type="com.rhontprogect.blog.Controllers.basicController"*/-->

<header th:replace="blocks/header::header"></header>

<div class="album py-5 bg-light">
    <div class="container">
        <h1>Обо мне</h1>
    </div>
</div>

<footer th:insert="blocks/footer.html :: footer"></footer>>

</body>
</html>