<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body>


<header th:replace="blocks/header::header"></header>
    <div class="container mt-5">
        <h1>Блог сайта</h1>

        <div th:each="element : ${articles}">
            <h3 th:text="${element.tittle}"/>
            <p th:text="${element.anons}"/>
            <a th:href="'/blog/'+${element.id}"> Детальнее</a>
    </div>
    </div>

<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>